@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #2c2c3c;
  /* --primary: #fff; */
  --primary-transparent: #2c2c3cde;
  --secondary: #aeb3ac;
  --thirdClr: #5aa0aa;
  --thirdClr-transparent: #5a9faa5e;
  --fourthClr: #315495;
  --fifthClr: #635959;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #aeb3ac;
    --secondary: #2c2c3c;
    --third: #5aa0aa;
    --fourth: #315495;
    --fifth: #635959;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.heroSection,
.projectsSection,
.techSection {
  height: 100vh;
  scroll-snap-align: center;
} */

body {
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

.backdrop::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* border-radius: 5px; */
}

.triangle {
  /* width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid red; */
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;

  border-left: 4px solid var(--thirdClr);
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
