@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Mono&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}
html {
    height: fill-available;
    height: -webkit-fill-available;
} */

/* min-height: 100svh; */
/* min-height: calc(100vh - calc(100vh - 100%)); */
/* min-height: -webkit-fill-available; */
/* min-height: 100vh; */
/* min-height: calc(var(--vh, 1vh) * 100); */
/* min-height: -webkit-fill-available; */
/* min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available; */
/* min-height: unset; */
/* height: 100dvh; */
/* height: 100vh; */
/* Remove any conflicting height settings */
/* min-height: unset; */
/* height: 100vh; */
/* height: 100svh; */
/* height: -webkit-fill-available; */
/* background: rgb(112, 45, 112); */
/* min-height: 100vh; */
/* height: fill-available; */
/* height: -webkit-fill-available; */
/* height: var(--doc-height); */

:root {
  --primary: #2c2c3c;
  --primary-transparent: #2c2c3cde;
  --secondary: #fdfeff;
  --thirdClr: #5aa0aa;
  --thirdClr-transparent: #5a9faa5e;
  --fourthClr: #315495;
  --fifthClr: #635959;
  /* --doc-height: 100%; */
  /* box shadow */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: "Poppins", sans-serif;
}
/* #page {
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  position: relative;
} */
#heroSection {
  /* max-width: 100%; */
  /* height: 100%; */
  /* position: relative; */
  z-index: -99;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  position: relative;
}
#mobileMenu {
  /* height: calc(100svh - 50px); */
  /* height: 100dvh; */
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* .backdrop::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;

  border-left: 4px solid var(--thirdClr);
} */

@media (prefers-color-scheme: dark) {
}
